body {
    background-color: #e8efef;
    font-size: 12px;
    line-height: 28px;
    font-family: "PT sans";
    box-sizing: border-box;
}

hr {
    width: 100%;
    height: 15px;
    background-color: #8cadae;
}

h1, h2 {  
    font-family: "Trajan";
    text-align: center;
}

#logo {
    width: 75px;
    height: auto;
    margin-top: -200px;
    margin-left: 10px;
}

header {
    text-align: center;
}

.here {
    background-color: #e8efef;
    color: #000;
}

nav {
    flex: auto;
    background-color: #5d4561;
    border: 1px solid #8cadae;
    text-align: center;
    color: #8c8c8c;
    font-family: "Trajan";
    
}

nav a {
    display: block;
    padding: 5px;
    color: #e8efef;
    text-decoration: none;
    border-width: 0px 0px 1px 0px;
    border-style: solid 2px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.homePhotos {
    display: grid;
    grid-template-columns: 1fr;
}

fieldset {
    width: 98%
    padding: .5rem;
    border: 1px solid #5d4561;
    border-radius: .2rem;
    font-size: .85rem;
}

.form1 {
    display: inline-block
    width: 98%;
    margin: 5px;
}

.form-inline {
    width: 98%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.form-inline label {
    width: 98%;
    margin: 5px 10px 5 px 0;
}

.form-inline {
    width: 98%;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #e8efef;
    border: 1px solid #5d4561;
}
.formField {
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0; 
}

.theButton {
    padding: 10px 20px;
    background-color: #5d4561;
    border: 1px solid #5d4561;
    color: #e8efef;
  }
#mainPgArticle {
    width: 98%;
    margin: 5px;
    margin-right: 5px;
    border: 1px solid #5d4561;
    padding: 10px; 
}

.readMore {
    font-size: 9px;
}

.wrapper {
    display: grid;
    
}









