body {
    background-color: #e8efef;
    font-size: 14px;
    line-height: 32px;
    font-family: "PT sans";
    box-sizing: border-box;
}

hr {
    width: 100%;
    height: 15px;
    background-color: #8cadae;
}

h1, h2 {  
    font-family: "Trajan";
    text-align: center;
}

h3 {
    font-family: "PT sans";
    text-align: center;
    color: #5d4561
    font-size: 20px !important;
} 

#logo {
    width: 75px;
    height: auto;
    margin-top: -200px;
    margin-left: 10px;
}

header {
    width: 100%;
    flex: auto;
    text-align: center;
    font-family: "Trajan";
    color: #5d4561
}

.here {
    background-color: #e8efef;
    color: #000;
}

nav, ul li ul li {
    flex: auto;
    background-color: #5d4561;
    border: 1px solid #8cadae;
    text-align: center;
    color: #8c8c8c;
    font-family: "Trajan";    
}

nav a {
    display: block;
    padding: 5px;
    color: #e8efef;
    text-decoration: none;
    border-width: 0px 0px 1px 0px;
    border-style: solid 2px;
}

nav ul, ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.largeNavMenu {
    display: block;
    style: "list-style-type: none";
}

nav ul {
    overflow: hidden;
}


ul {
    display: inline-block;
}

ul li ul {
    position: absolute;
    display: none;
    }

ul li:hover ul {
    display: block;
}

ul li ul li {
    position: relative;
    display: block;
}

.homePhotos {
    display: grid;
    grid-template-columns: 1fr;
}

.resBox {
    margin: auto;
    width: 80%
    }

.form1 {
    display: inline-block
    width: 98%;
    margin: 5px;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-around;
    align-items: stretch;
    width: 98%;
    margin: auto;
    background-color: #e8efef;
    border: 1px solid #5d4561;    
    padding: .5rem;
    border-radius: .2rem;
    font-size: .85rem;
    }

form fieldset {
    margin: .2rem;
    padding: .5rem;
    color: #5d4561;
    font-family: 'PT sans';
}

.formField {
    margin-left: auto;
    margin-right: auto;
}

form label.formField input {
    display: block;
    padding: .75rem;
    color: #5d4561;
    width: 90%;
    max-width: 75%;
    background-color: #fff;
    margin-top: -.25rem;
   }

.theButton {
    padding: 10px 20px;
    background-color: #5d4561;
    border: 1px solid #5d4561;
    color: #e8efef;
    margin-left: 5px;
    width: 75%;
    margin-bottom: 10px;
  }

  #homePageButton {
    width: 99%;
    margin-left: 5px;
    text-align: center;  
    color: #e8efef; 
  }

article, #tempBox {
    width: 97.5%;
    margin: 5px;
    border: 1px solid #5d4561;
    padding: 10px; 
}

.readMore {
    font-size: 9px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    align-content: space-between;
    width: 98%;
    margin: auto;
}

#firstPage, #tempBox {
    width: 90%;
} 

#tempBox, #mapGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding: 10px;
    align-content: space-between;
}

#mapGrid {
    margin-left: 10px;
    margin-right: 20px;
}

.weatherMapOrg {
  text-align: center;
}

.weatherMapOrg a {
    color: #5d4561;
    font-size: .6rem;
  }

#googleMap {
    margin-top: 45px;
    margin-left: 20px;
}

iframe {
    margin-top: 30px;
}

/* .leftcol, .rightcol{
    max-width: 48%;
      flex: 1 0 15em;
      padding: 10px;
    } */

.sec1, .sec2 {
    display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        padding: 10px; 
        margin: 5px;
        border: 1px solid #5d4561; 
    }

    .img1, .img2 {
        width: 90%;
        align-content: center;
        }

    p {
        width: 90%;
    }

    .mainphotos {
        width: 85%;
        align-items: center;
    }

