*{
    font-family: Ubuntu, sans-serif;
}

table { 
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 1.2rem;
    box-shadow: 0px 10px 10px 0px  #628ca6;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    text-align: center;
}

#firstrownames {
    color: #fff;
    background-color: #628ca6;
    font-weight: bold;
}

tr:nth-child(even) {
    background: #e7f0ed;
}

tr:nth-child(odd) { 
    background: #e7ffed;        
}

thead tr, tfoot tr{
    font-size: 2.2rem;
    background-color: #7fb9c2;
    color: #000;
    font-weight: bold;
}

tfoot {
    font-size: .85rem;
    font-weight: normal;
}

     
     